<!DOCTYPE html>
<html lang="pl-PL">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../assets/styles/reset.css">
    <link rel="stylesheet" href="../assets/styles/yourHours.css">

    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Work+Sans:wght@100;200;300;400;600;700;800;900&display=swap" rel="stylesheet">

    <link href="https://fonts.cdnfonts.com/css/sf-ui-text-2" rel="stylesheet">
    <title>Your Hours</title>
<body>

    <div class="header">
        <h1 class="headerTitle">
            Godziny Konsultacyjne
        </h1>
        <h4 class="headerSubTitle">
            Na które jesteś zapisany
        </h4>
    </div>

    <main>
        <div class="wrapper">
            <ul class="hours_list">
                <li onclick="openModal('17.11', '16:20')" class="hours_list_item">
                    <div class="header_list_item">
                        <div class="time">
                            <svg height="13" viewBox="0 0 10 10" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <g id="Group 5">
                                    <path id="Oval Copy 2" fill-rule="evenodd" clip-rule="evenodd" d="M4.89642 2.82486C3.75416 2.82486 2.82486 3.75417 2.82486 4.89642C2.82486 6.03868 3.75417 6.96798 4.89642 6.96798C6.03868 6.96798 6.96798 6.03867 6.96798 4.89642C6.96798 3.75416 6.03867 2.82486 4.89642 2.82486ZM4.89642 0C7.60064 0 9.79284 2.19221 9.79284 4.89642C9.79284 7.60064 7.60063 9.79284 4.89642 9.79284C2.19221 9.79284 0 7.60063 0 4.89642C0 2.19221 2.19221 0 4.89642 0Z" fill="#00B383"/>
                                </g>
                            </svg>

                            14:20
                        </div>
                        <div class="circles_group">
                            <div class="circle"></div>
                            <div class="circle"></div>
                            <div class="circle"></div>
                        </div>
                    </div>
                    <div class="teacher_name">
                        Jarosław Garbowski
                    </div>
                    <div class="subject">
                        Witryny i Aplikacje | 34 sala
                    </div>
                </li>
            </ul>
        </div>
        <div class="modal">
            
        </div>
    </main>

    <footer class="footer">
        <a class="footer_link"  href="#">
            <img src="../assets/images/watch.svg" alt="hours">
            <p>Your hours</p>
        </a>
        <a class="add" href="../index.html">
            <svg display="none">
                <symbol x="-5px" y="-30px" height="140px" viewBox="0 0 90 125" xml:space="preserve" id="add">
                    <path id="add_circle" d="M50,11.5c-21.2,0-38.5,17.3-38.5,38.5S28.8,88.5,50,88.5S88.5,71.2,88.5,50S71.2,11.5,50,11.5z M67,53H52v14  c0,1.4-1.1,2.5-2.5,2.5S47,68.4,47,67V53H33c-1.4,0-2.5-1.1-2.5-2.5S31.6,48,33,48h14V33c0-1.4,1.1-2.5,2.5-2.5S52,31.6,52,33v15h15  c1.4,0,2.5,1.1,2.5,2.5S68.4,53,67,53z"/>
                </symbol>
            </svg>

            <svg class="add_icon">
                <use xlink:href="#add"></use>
            </svg>
        </a>
        <a class="footer_link" href="#">
            <img src="../assets/images/profile.svg" alt="profile">
            <p>Profile</p>
        </a>
    </footer>

    <script src="../assets/scripts/yourHours.js"></script>
    <script src="../assets/scripts/hoursModal.js"></script>
</body>
</html>